body {margin:0;}

#pageList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
}

#navLogo {
  height: 50px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}


.pageButton {
  float: left;
}

.pageButton a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pageButton a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
