html, body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#navLeft {
  width: 40%;
  height: 70px;
  margin: 0px;
  border: none;
  padding: 0px;
  float: left;
  position: fixed;
  top: 0px;
}

#navLogo {
  width: auto;
  height: 50px;
  padding: 10px 0px 10px 20px;
}

#navRight {
  width: 60%;
  height: 70px;
  margin: 0px;
  border: 0px;
  padding: 0% 0% 0% 40%;
  float: left;
  position: fixed;
  top: 0px;
}

#pageList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0px;
  width: auto;
  height: 70px;
}

.pageButton {
  float: left;
}

.pageButton a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pageButton a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
