html, body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#header {
  width: 100%;
  height: 70px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  background-color: #000000;
  overflow: hidden;
  font-size: 18px;
}

#navLogo {
  width: auto;
  height: 50px;
  margin: 10px 25px 10px 15px;
}

.navButton {
  margin: 0px;
  border: none;
  padding: 25px 15px 22px 15px;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
}

.navButton:hover {
  border-bottom: 2px solid #FF6700;
}
